/* HTML Tags */
body {
  background-color: #001F3F;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sriracha', cursive;
}

ul {
  list-style-type: none;
  color: black;
}

/* Title Section */
.website-name {
  color: #0DA574;
  font-size: 6rem;
}

.website-explanation {
  font-size: 2.5rem;
  margin: 20px 0 40px;
}

.alphabet-input {
  height: 50px;
  width: 56%;
  margin: 0 30px;
}

.reset-button {
  height: 50px;
  width: 20%;
  margin-bottom: 4px;
}

.input-reset {
  font-family: "Nunito Sans", sans-serif;
}

/* Middle Section */
#middle {
  margin: 50px 100px;
}

.next-alphabet {
  background-color: white;
  border-radius: 100%;
  color: #dc3545;
  font-size: 12rem;
  font-family: "Nunito Sans", sans-serif;
  margin: auto;
  padding: 30px 0;
  width: 26%;
}

.time {
  margin: 20px 0;
  font-size: 2.5rem;
}

.results {
  color: #0DA574;
}
